{% extends "logged_in/main_dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
    <link rel="stylesheet" href="/static/css/todo_list.css">
    
    <div id="todoList" class="header">
        <h2>{{ main_list_title }}</h2>
    </div>
    {% for task in main_list %}
        <ul id="myUL">
            <li>{{ task }}</li>
        </ul>
    {% endfor %}
    <form action='/dashboard/todo_list' method='post'>
        {{ wtf.quick_form(add_itemForm) }}
    </form>
{% endblock main %}