html, body {
  background-color: orange
}

.home {
  position:fixed;
  background-image: url('../img/penguins_background.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about p {
  position: relative;
  padding-right: 50px;
  float:left;
 }

.about img {
  position: absolute;
  width: 150px;
  float:right;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}
